
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="multikart">
    <meta name="keywords" content="multikart">
    <meta name="author" content="multikart">
    <link rel="icon" href="~/Dashpord/images/favicon/4.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/Dashpord/images/favicon/4.png" type="image/x-icon">
    <title>Multikart - Multi-purpopse E-commerce Html Template</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="~/Dashpord/css/fontawesome.css">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="~/Dashpord/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Dashpord/css/slick-theme.css">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="~/Dashpord/css/animate.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="~/Dashpord/css/themify-icons.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/Dashpord/css/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="~/Dashpord/css/color12.css" media="screen" id="color">
    <link href="~/Dashpord/css/mystyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="~/Dashpord/css/CustomSerch.css" rel="stylesheet" />

</head>

<body>

    <!-- loader start -->
    <div class="loader_skeleton" style="display: none;">
        <header class="header-tools marketplace">
            <div class="top-header d-none d-sm-block">
                <div class="container-fluid custom-container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="header-contact">
                                <ul>
                                    <li>Welcome to Our store Multikart</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i>Call Us: 123 - 456 - 7890</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 text-right">
                            <ul class="header-dropdown">
                                <li class="mobile-wishlist">
                                    <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </li>
                                <li class="onhover-dropdown mobile-account">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    My Account
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid custom-container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main-menu">
                            <div class="menu-left">
                                <div class="navbar">
                                    <a href="javascript:void(0)" onclick="openNav()">
                                        <div class="bar-style">
                                            <i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="brand-logo">
                                    <a href="index.html"><img src="~/Dashpord/images/icon/logo/18.png" class="img-fluid blur-up lazyloaded" alt=""></a>
                                </div>
                            </div>
                            <div class="menu-right pull-right">
                                <div>
                                    
                                </div>
                                <div>
                                    <div class="icon-nav d-none d-sm-block">
                                        <ul>
                                            <li class="onhover-div mobile-search">
                                                <div><img src="~/Dashpord/images/icon/search.png" onclick="openSearch()" class="img-fluid blur-up lazyloaded" alt=""> <i class="ti-search" onclick="openSearch()"></i></div>
                                            </li>
                                            <li class="onhover-div mobile-setting">
                                                <div><img src="~/Dashpord/images/icon/setting.png" class="img-fluid blur-up lazyloaded" alt=""> <i class="ti-settings"></i></div>
                                            </li>
                                            <li class="onhover-div mobile-cart">
                                                <div><img src="~/Dashpord/images/icon/cart.png" class="img-fluid blur-up lazyloaded" alt=""> <i class="ti-shopping-cart"></i></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="home-slider">
            <div class="home"></div>
        </div>
        <section class="collection-banner banner-padding banner-furniture ">
            <div class="container-fluid">
                <div class="row partition4">
                    <div class="col-lg-3 col-md-6">
                        <div class="ldr-bg">
                            <div class="contain-banner banner-4">
                                <div>
                                    <h4></h4>
                                    <h2></h2>
                                    <h6></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ldr-bg">
                            <div class="contain-banner banner-4">
                                <div>
                                    <h4></h4>
                                    <h2></h2>
                                    <h6></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ldr-bg">
                            <div class="contain-banner banner-4">
                                <div>
                                    <h4></h4>
                                    <h2></h2>
                                    <h6></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ldr-bg">
                            <div class="contain-banner banner-4">
                                <div>
                                    <h4></h4>
                                    <h2></h2>
                                    <h6></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container section-b-space">
            <div class="row section-t-space">
                <div class="col-lg-6 offset-lg-3">
                    <div class="product-para">
                        <p class="first"></p>
                        <p class="second"></p>
                    </div>
                </div>
                <div class="col-12">
                    <div class=" grid-products center-detail row">
                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6 product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6 product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6 product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6 product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6 product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6 product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6 product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6 product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6 product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6 product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6 product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6 product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loader end -->


    <!-- header start -->
    <header class="header-tools marketplace">
        <div class="mobile-fix-option"></div>
        <div class="top-header">
            <div class="container-fluid custom-container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact">
                            <ul>
                                <li>Welcome to Our store Multikart</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>Call Us: 123 - 456 - 7890</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <ul class="header-dropdown">
                            <li class="mobile-wishlist">
                                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            </li>
                            <li class="onhover-dropdown mobile-account">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                My Account
                                <ul class="onhover-show-div">
                                    <li><a href="#" data-lng="en">Login</a></li>
                                    <li><a href="#" data-lng="es">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left">
                           
                            <div class="brand-logo">
                                <title>Foody Logo</title>
                                <div class="logo">
                                    <img src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png" alt="Foody Logo">
                                     Foody<span>.</span>
                                 </div>
                           </div>
                        </div>
                        <div class="menu-right pull-right">
                          
                            <div class="search-container text-center">
                                <input type="text" id="searchInput" placeholder="🔍 Search here..." class="search-box">
                                <ul id="searchResults" class="search-results"></ul>
                            </div>
                            <div>

                                <div class="icon-nav">
                                    <ul>
                                      
                                       
                                        <li class="onhover-div mobile-cart">
                                            <div><img src="~/Dashpord/images/icon/cart.png" class="img-fluid blur-up lazyloaded" alt=""> <i class="ti-shopping-cart"></i></div>
                                            <ul class="show-div shopping-cart">
                                                <li>
                                                    <div class="media">
                                                        <a href="#"><img alt="" class="mr-3" src="~/Dashpord/images/fashion/product/1.jpg"></a>
                                                        <div class="media-body">
                                                            <a href="#">
                                                                <h4>item name</h4>
                                                            </a>
                                                            <h4><span>1 x $ 299.00</span></h4>
                                                        </div>
                                                    </div>
                                                    <div class="close-circle"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a href="#"><img alt="" class="mr-3" src="~/Dashpord/images/fashion/product/2.jpg"></a>
                                                        <div class="media-body">
                                                            <a href="#">
                                                                <h4>item name</h4>
                                                            </a>
                                                            <h4><span>1 x $ 299.00</span></h4>
                                                        </div>
                                                    </div>
                                                    <div class="close-circle"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div>
                                                </li>
                                                <li>
                                                    <div class="total">
                                                        <h5>subtotal : <span>$299.00</span></h5>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="buttons">
                                                        <a href="cart.html" class="view-cart">
                                                            view
                                                            cart
                                                        </a> <a href="#" class="checkout">checkout</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->


@RenderBody()



<section></section>

    <!-- footer section -->
    <footer class="footer-light">
        
        <section class="section-b-space light-layout">
            <div class="container">
                <div class="row footer-theme partition-f">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-title footer-mobile-title">
                            <h4>about</h4>
                        </div>
                        <div class="footer-contant">
                            <div class="footer-logo"><img src="~/Dashpord/images/icon/logo.png" alt=""></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            </p>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col offset-xl-1">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>my account</h4>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="#">mens</a></li>
                                    <li><a href="#">womens</a></li>
                                    <li><a href="#">clothing</a></li>
                                    <li><a href="#">accessories</a></li>
                                    <li><a href="#">featured</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>why we choose</h4>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="#">shipping &amp; return</a></li>
                                    <li><a href="#">secure shopping</a></li>
                                    <li><a href="#">gallary</a></li>
                                    <li><a href="#">affiliates</a></li>
                                    <li><a href="#">contacts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>store information</h4>
                            </div>
                            <div class="footer-contant">
                                <ul class="contact-list">
                                    <li>
                                        <i class="fa fa-map-marker"></i>Multikart Demo Store, Demo store India 345-659
                                    </li>
                                    <li><i class="fa fa-phone"></i>Call Us: 123-456-7898</li>
                                    <li><i class="fa fa-envelope-o"></i>Email Us: <a href="#">Support@Fiot.com</a></li>
                                    <li><i class="fa fa-fax"></i>Fax: 123456</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="footer-end">
                            <p>
                                <i class="fa fa-copyright" aria-hidden="true"></i> 2017-18 themeforest powered by
                                pixelstrap
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="payment-card-bottom">
                            <ul>
                                <li>
                                    <a href="#"><img src="~/Dashpord/images/icon/visa.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/Dashpord/images/icon/mastercard.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/Dashpord/images/icon/paypal.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/Dashpord/images/icon/american-express.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/Dashpord/images/icon/discover.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer section end-->


    <!-- Add to cart bar -->
    <div id="cart_side" class=" add_to_cart left">
        <a href="javascript:void(0)" class="overlay" onclick="closeCart()"></a>
        <div class="cart-inner">
            <div class="cart_top">
                <h3>my cart</h3>
                <div class="close-cart">
                    <a href="javascript:void(0)" onclick="closeCart()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="cart_media">
                <ul class="cart_product">
                    <li>
                        <div class="media">
                            <a href="#">
                                <img alt="" class="mr-3" src="~/Dashpord/images/pro2/43.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>item name</h4>
                                </a>
                                <h4>
                                    <span>1 x $ 299.00</span>
                                </h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="#">
                                <img alt="" class="mr-3" src="~/Dashpord/images/pro2/44.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>item name</h4>
                                </a>
                                <h4>
                                    <span>1 x $ 299.00</span>
                                </h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="#"><img alt="" class="mr-3" src="~/Dashpord/images/pro2/7.jpg"></a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>item name</h4>
                                </a>
                                <h4><span>1 x $ 299.00</span></h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="cart_total">
                    <li>
                        <div class="total">
                            <h5>subtotal : <span>$299.00</span></h5>
                        </div>
                    </li>
                    <li>
                        <div class="buttons">
                            <a href="cart.html" class="btn btn-solid btn-xs view-cart">view cart</a>
                            <a href="#" class="btn btn-solid btn-xs checkout">checkout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Add to cart bar end-->




    
    <div id="setting_box" class="setting-box">
        <a href="javascript:void(0)" class="overlay" onclick="closeSetting()"></a>
        <div class="setting_box_body">
            
            <div class="setting-body">
               
                <div class="setting-contant">
                    <ul class="color-box">
                        <li>
                            <input id="ColorPicker1" type="color" value="#e4604a" name="Background">
                            <span>theme deafult color</span>
                        </li>
                    </ul>
                </div>
                
                
               
            </div>
        </div>
    </div>
    <!-- theme setting -->




    <!-- tap to top start -->
    <div class="tap-top">
        <div><i class="fa fa-angle-double-up"></i></div>
    </div>
    <!-- tap to top end -->


    <!-- latest jquery-->
    <script src="~/Dashpord/js/jquery-3.3.1.min.js"></script>

    <!-- popper js-->
    <script src="~/Dashpord/js/popper.min.js"></script>

    <!-- slick js-->
    <script src="~/Dashpord/js/slick.js"></script>

    <!-- menu js-->
    <script src="~/Dashpord/js/menu.js"></script>

    <!-- lazyload js-->
    <script src="~/Dashpord/js/lazysizes.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/Dashpord/js/bootstrap.js"></script>

    <!-- Bootstrap Notification js-->
    <script src="~/Dashpord/js/bootstrap-notify.min.js"></script>

    <!-- Timer js-->
    <script src="~/Dashpord/js/timer.js"></script>

    <!-- Theme js-->
    <script src="~/Dashpord/js/script.js"></script>

    <script>
        // modal popup
        $(window).on('load', function () {
            setTimeout(function () {
                $('#exampleModal').modal('show');
            }, 2500);
        });

        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
              $(document).ready(function () {
            $("#searchInput").on("input", function () {
                let query = $(this).val().toLowerCase(); // تحويل الإدخال إلى حروف صغيرة

                $(".product-item").each(function () { // استهدف المنتجات في الصفحة
                    let productName = $(this).find(".product-name").text().toLowerCase(); // اسم المنتج
                    if (productName.includes(query)) {
                        $(this).show(); // إظهار العنصر إذا كان مطابقًا
                    } else {
                        $(this).hide(); // إخفاء العنصر إذا لم يكن مطابقًا
                    }
                });
            });
        });

    </script>


    <script>
        $(document).ready(function () {
            $("#searchInput").on("input", function () {
                let query = $(this).val().toLowerCase();
                let resultsContainer = $("#searchResults");
                resultsContainer.empty(); // مسح النتائج القديمة

                if (query.length === 0) {
                    resultsContainer.hide();
                    return;
                }

                let foundResults = false; // متغير لتحديد ما إذا كان هناك نتائج أم لا

                // 🔥 البحث داخل المنتجات المعروضة
                let matchedProducts = $(".product-box").filter(function () {
                    return $(this).find("h6").text().toLowerCase().includes(query);
                });

                if (matchedProducts.length > 0) {
                    foundResults = true;
                    matchedProducts.each(function () {
                        let productName = $(this).find("h6").text();
                        let productImage = $(this).find("img").attr("src");
                        let productLink = $(this).find("a").attr("href");

                        if (productLink) {
                            resultsContainer.append(`
                                <li class="search-item">
                                    <a href="${productLink}">
                                        <img src="${productImage}" alt="${productName}">
                                        <span>${productName}</span>
                                    </a>
                                </li>
                            `);
                        }
                    });
                }

                // 🔥 البحث داخل المطاعم
                let matchedRestaurants = $(".custom-card").filter(function () {
                    return $(this).find(".restaurant-name").text().toLowerCase().includes(query);
                });

                if (matchedRestaurants.length > 0) {
                    foundResults = true;
                    matchedRestaurants.each(function () {
                        let restaurantName = $(this).find(".restaurant-name").text();
                        let restaurantImage = $(this).find("img").attr("src");
                        let restaurantLink = $(this).find("a").attr("href");

                        if (restaurantLink) {
                            resultsContainer.append(`
                                <li class="search-item">
                                    <a href="${restaurantLink}">
                                        <img src="${restaurantImage}" alt="${restaurantName}">
                                        <span>${restaurantName}</span>
                                    </a>
                                </li>
                            `);
                        }
                    });
                }

                // لو مفيش نتائج، نعرض رسالة "لا توجد نتائج"
                if (!foundResults) {
                    resultsContainer.append(`<li class="no-results">No results found</li>`);
                }

                resultsContainer.show();
            });

            // ✅ إخفاء القائمة عند النقر خارجها
            $(document).click(function (e) {
                if (!$(e.target).closest(".search-container").length) {
                    $("#searchResults").hide();
                }
            });

            // ✅ عند الضغط على عنصر، يذهب إلى صفحة المطعم أو المنتج المطلوبة
            $(document).on("click", ".search-item a", function (e) {
                e.preventDefault();
                window.location.href = $(this).attr("href");
            });
        });
    </script>

    



    <!-- ✅ تضمين Bootstrap 4 إذا لم يكن مضافًا -->
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>