
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Multikart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Multikart admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="~/Dashpord/images/dashboard/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/Dashpord/images/dashboard/favicon.png" type="image/x-icon">
    <title>eLCaMino</title>

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Dashpord/css/all.min.css" rel="stylesheet" />

    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="~/Dashpord/css/fontawesome.css">

    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/Dashpord/css/flag-icon.css">

    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="~/Dashpord/css/icofont.css">

    <!-- Prism css-->
    <link rel="stylesheet" type="text/css" href="~/Dashpord/css/prism.css">

    <!-- Chartist css -->
    <link rel="stylesheet" type="text/css" href="~/Dashpord/css/chartist.css">

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/Dashpord/css/bootstrap.css">

    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/Dashpord/css/admin.css">
    <link href="~/Dashpord/css/all.min.css" rel="stylesheet" />
    <link href="~/Dashpord/css/all.css" rel="stylesheet" />
</head>

<body>


    <!-- page-wrapper Start-->
    <div class="page-wrapper">

        <!-- Page Header Start-->
        <div class="page-main-header">
            <div class="main-header-right row">
                <div class="main-header-left d-lg-none">
                    <div class="logo-wrapper"><a href="index.html"><img class="blur-up lazyloaded" src="~/Dashpord/images/dashboard/multikart-logo.png" alt=""></a></div>
                </div>
                <div class="mobile-sidebar">
                    <div class="media-body text-right switch-sm">
                        <label class="switch"><a href="#"><i id="sidebar-toggle" data-feather="align-left"></i></a></label>
                    </div>
                </div>
                <div class="nav-right col">
                    <ul class="nav-menus">
                        <li>
                            <form class="form-inline search-form">
                                <div class="form-group">
                                    <input class="form-control-plaintext" type="search" placeholder="Search.."><span class="d-sm-none mobile-search"><i data-feather="search"></i></span>
                                </div>
                            </form>
                        </li>
                        <li><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize-2"></i></a></li>



                        <li class="onhover-dropdown">
                            <div class="media align-items-center">
                                @* <img class="align-self-center pull-right img-50 rounded-circle blur-up lazyloaded" src="~/UploadsImage/ItemImage/@Model.User.ProfilePicture" alt="header-user"> *@
                                <div class="dotted-animation"><span class="animate-circle"></span><span class="main-circle"></span></div>
                            </div>
                            <ul class="profile-dropdown onhover-show-div p-20 profile-dropdown-hover">
                                <li><a asp-area="" asp-controller="Feature" asp-action="Profile"><i data-feather="user"></i>Edit Profile</a></li>
                                <li><a asp-area="" asp-controller="User" asp-action="HomePage"><i data-feather="home"></i>Home-Page</a></li>
                                <li><a asp-area="" asp-controller="User" asp-action="Logout"><i data-feather="log-out"></i>Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-lg-none mobile-toggle pull-right"><i data-feather="more-horizontal"></i></div>
                </div>
            </div>
        </div>
        <!-- Page Header Ends -->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">

            <!-- Page Sidebar Start-->
            <div class="page-sidebar">
                <div class="main-header-left d-none d-lg-block">
                    <div class="logo-wrapper"><a href="index.html"><img class="blur-up lazyloaded" src="~/Dashpord/images/dashboard/multikart-logo.png" alt=""></a></div>
                </div>

                <div class="sidebar custom-scrollbar">
                    <div class="sidebar-user text-center">
                        <div>
                            @* <img class="img-60 rounded-circle lazyloaded blur-up" src="~/UploadsImage/ItemImage/@Model.User.ProfilePicture" alt="#"> *@
                        </div>
                        @* <h6 class="mt-3 f-14">@Model.User.UserName</h6> *@
                        <p>General - Manager</p>
                    </div>
                    <ul class="sidebar-menu">
                        <li><a class="sidebar-header" asp-controller="Dashpord" asp-action="AdminTemplate"><i data-feather="home"></i><span>Dashboard</span></a></li>
                        <li>
                            <a class="sidebar-header" href="#"><i data-feather="box"></i> <span>Resturant & Menu</span><i class="fa fa-angle-right pull-right"></i></a>
                            <ul class="sidebar-submenu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle"></i>
                                        <span>Resturant</span> <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><a asp-controller="Dashpord" asp-action="AddRestaurant"><i class="fa fa-circle"></i>Add Resturant</a></li>
                                        <li><a asp-controller="Dashpord" asp-action="RestaurantList"><i class="fa fa-circle"></i>All Resturantes</a></li>
                                        
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle"></i>
                                        <span>Menus</span> <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><a asp-controller="Dashpord" asp-action="AddMenuItem"><i class="fa fa-circle"></i>Add Menu</a></li>
                                        <li><a href="category-digitalsub.html"><i class="fa fa-circle"></i>All Menus</a></li>
                                 
                                    </ul>
                                </li>
                            </ul>
                       

                        <li>
                            <a class="sidebar-header" href=""><i data-feather="dollar-sign"></i><span>Sales</span><i class="fa fa-angle-right pull-right"></i></a>
                            <ul class="sidebar-submenu">
                                <li><a asp-controller="Dashpord" asp-action="Sales"><i class="fa fa-circle"></i>Orders</a></li>

                            </ul>
                        </li>

                        <li>
                            <a class="sidebar-header"><i data-feather="user-plus"></i><span>Users</span><i class="fa fa-angle-right pull-right"></i></a>
                            <ul class="sidebar-submenu">
                                <li><a asp-controller="Dashpord" asp-action="Users"><i class="fa fa-circle"></i>User List</a></li>

                            </ul>
                        </li>


                        <li>
                            <a class="sidebar-header" href=""><i data-feather="settings"></i><span>Settings</span><i class="fa fa-angle-right pull-right"></i></a>
                            <ul class="sidebar-submenu">
                                <li><a asp-area="" asp-controller="Feature" asp-action="Profile"><i class="fa fa-circle"></i>Profile</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="sidebar-header" asp-area="" asp-controller="User" asp-action="LoginPage"><i data-feather="log-in"></i><span>Login</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Page Sidebar Ends-->
            <!-- Right sidebar Start-->
            <div class="right-sidebar" id="right_side_bar">
                <div>
                    <div class="container p-0">
                        <div class="modal-header p-l-20 p-r-20">
                            <div class="col-sm-8 p-0">
                                <h6 class="modal-title font-weight-bold">FRIEND LIST</h6>
                            </div>
                            <div class="col-sm-4 text-right p-0"><i class="mr-2" data-feather="settings"></i></div>
                        </div>
                    </div>
                    <div class="friend-list-search mt-0">
                        <input type="text" placeholder="search friend"><i class="fa fa-search"></i>
                    </div>
                    <div class="p-l-30 p-r-30">
                        <div class="chat-box">
                            <div class="people-list friend-list">
                                <ul class="list">
                                    <li class="clearfix">
                                        <img class="rounded-circle user-image" src="~/Dashpord/images/dashboard/user.png" alt="">
                                        <div class="status-circle online"></div>
                                        <div class="about">
                                            <div class="name">Vincent Porter</div>
                                            <div class="status"> Online</div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <img class="rounded-circle user-image" src="~/Dashpord/images/dashboard/user1.jpg" alt="">
                                        <div class="status-circle away"></div>
                                        <div class="about">
                                            <div class="name">Ain Chavez</div>
                                            <div class="status"> 28 minutes ago</div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <img class="rounded-circle user-image" src="~/Dashpord/images/dashboard/user2.jpg" alt="">
                                        <div class="status-circle online"></div>
                                        <div class="about">
                                            <div class="name">Kori Thomas</div>
                                            <div class="status"> Online</div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <img class="rounded-circle user-image" src="~/Dashpord/images/dashboard/user3.jpg" alt="">
                                        <div class="status-circle online"></div>
                                        <div class="about">
                                            <div class="name">Erica Hughes</div>
                                            <div class="status"> Online</div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <img class="rounded-circle user-image" src="~/Dashpord/images/dashboard/man.png" alt="">
                                        <div class="status-circle offline"></div>
                                        <div class="about">
                                            <div class="name">Ginger Johnston</div>
                                            <div class="status"> 2 minutes ago</div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <img class="rounded-circle user-image" src="~/Dashpord/images/dashboard/user5.jpg" alt="">
                                        <div class="status-circle away"></div>
                                        <div class="about">
                                            <div class="name">Prasanth Anand</div>
                                            <div class="status"> 2 hour ago</div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <img class="rounded-circle user-image" src="~/Dashpord/images/dashboard/designer.jpg" alt="">
                                        <div class="status-circle online"></div>
                                        <div class="about">
                                            <div class="name">Hileri Jecno</div>
                                            <div class="status"> Online</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right sidebar Ends-->
            @RenderBody()

            <!-- footer start-->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 footer-copyright">
                            <p class="mb-0">Copyright 2024 © eLCaMino All rights reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p class="pull-right mb-0">Hand crafted & made with<i class="fa fa-heart"></i></p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer end-->
        </div>

    </div>

    <!-- latest jquery-->
    <script src="~/Dashpord/js/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/Dashpord/js/popper.min.js"></script>
    <script src="~/Dashpord/js/bootstrap.js"></script>

    <!-- feather icon js-->
    <script src="~/Dashpord/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/Dashpord/js/icons/feather-icon/feather-icon.js"></script>

    <!-- Sidebar jquery-->
    <script src="~/Dashpord/js/sidebar-menu.js"></script>

    <!--chartist js-->
    <script src="~/Dashpord/js/chart/chartist/chartist.js"></script>

    <!--chartjs js-->
    <script src="~/Dashpord/js/chart/chartjs/chart.min.js"></script>

    <!-- lazyload js-->
    <script src="~/Dashpord/js/lazysizes.min.js"></script>

    <!--copycode js-->
    <script src="~/Dashpord/js/prism/prism.min.js"></script>
    <script src="~/Dashpord/js/clipboard/clipboard.min.js"></script>
    <script src="~/Dashpord/js/custom-card/custom-card.js"></script>

    <!--counter js-->
    <script src="~/Dashpord/js/counter/jquery.waypoints.min.js"></script>
    <script src="~/Dashpord/js/counter/jquery.counterup.min.js"></script>
    <script src="~/Dashpord/js/counter/counter-custom.js"></script>

    <!--peity chart js-->
    <script src="~/Dashpord/js/chart/peity-chart/peity.jquery.js"></script>

    <!--sparkline chart js-->
    <script src="~/Dashpord/js/chart/sparkline/sparkline.js"></script>

    <!--Customizer admin-->
    <script src="~/Dashpord/js/admin-customizer.js"></script>

    <!--dashboard custom js-->
    <script src="~/Dashpord/js/dashboard/default.js"></script>

    <!--right sidebar js-->
    <script src="~/Dashpord/js/chat-menu.js"></script>

    <!--height equal js-->
    <script src="~/Dashpord/js/height-equal.js"></script>

    <!-- lazyload js-->
    <script src="~/Dashpord/js/lazysizes.min.js"></script>

    <!--script admin-->
    <script src="~/Dashpord/js/admin-script.js"></script>

</body>
</html>

